html, body {
    margin:0px;
    padding:0px;
    font-family: "roboto", sans-serif;    
}

/* Border Box */
* {
    box-sizing: border-box;
  }

  /* The Style for the Menu */
  .menuIcon {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
    height: 23px;
    width: 27px;
    z-index: 12;}
  
  /* Icon Bars */
  .icon-bars {
    background: #000;
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    transition: 0.4s;} 
  
  .icon-bars::before {
    background: #000;
    content: '';
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
    transition: 0.3s width 0.4s;
  }
  
  .icon-bars::after {
    margin-top: 0px;
    background: #000;
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
    transition: 0.3s width 0.4s;
  }
  
  /* Bars Shadows */
  .icon-bars.overlay {
    background: #0762c8;
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
  } @keyframes middleBar {
      0% {width: 0px}
      50% {width: 20px}
      100% {width: 0px}
    } 
  
  .icon-bars.overlay::before {
    background: #0762c8;
    width: 10px;
    animation: topBar 3s infinite 0.2s;
  } @keyframes topBar {
      0% {width: 0px}
      50% {width: 10px}
      100% {width: 0px}
    } 
  
  .icon-bars.overlay::after {
    background: #0762c8;
    width: 15px;
    animation: bottomBar 3s infinite 1s;
  } @keyframes bottomBar {
      0% {width: 0px}
      50% {width: 15px}
      100% {width: 0px}
    }  
  
  /* Toggle Menu Icon */    
  .menuIcon {position: fixed;}
  .menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);}
  
  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;}
  
  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);}
  
  .menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    transition: all 0s ease 0s;}  
  
    /*======= Responsive Mobile Menu========*/
  .overlay-menu {
    background: #0762c8;
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;
    padding-top: 10%;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-out;
    z-index: 3;}
  
  .overlay-menu ul, .overlay-menu li {
    display: block;
    position: relative;
      width: auto;}
  
  .overlay-menu li a {
    display: block;
    font-size: 22px; 
    padding: 10px 0; 
    text-align: center; 
    text-transform: uppercase;
    transition: color 0.3s ease;
    text-decoration: none;
    color: #fff;
  }

  /* The style for the Logo */
  #logo {
      padding-top:12px;
      padding-left: 40px;
  }


/* This is the Main Grid Layout for the Fronter Home Page */
#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
             "header-area header-area"
             "main-area main-area"
             "footer-area footer-area";
        }
/* This is the header area */
header {
    grid-area: header-area;  
}
header ul {
    float:right;
    display: inline-flex;
    list-style: none;
    padding-right:60px;
}

header ul i {
    float:right;
    padding:8px;
    color:#0762c8;
}
/* This is the main area */
main#main {
    grid-area: main-area;
    display:grid;
    grid-template-areas: 
         "section1 section2"
         "section3 section4"
         "section5 section6"
         "section7 section8"
         "section9 section10";
    }
#section-1 {
    grid-area: section1;   
    background-color: #0762c8;
}
#section-2 {
    grid-area: section2;
    background-color: #ea5045;
}
#section-3 {
    grid-area: section3;    
    background-color: #f04e98;
}
#section-4 {
    grid-area: section4;    
    background-color: #59cbe8;
}
#section-5 {
    grid-area: section5;   
    background-color: #56c271;
}
#section-6 {
    grid-area: section6;    
    background-color: #8e7fae;
}
#section-7 {
    grid-area: section7;  
    background-color: #ff671f;
}
#section-8 {
    grid-area: section8;
    background-color: #091E3D;
}
#section-9 {
    grid-area: section9;    
    background-color: #4c374b;
}
#section-10 {
    grid-area: section10;    
    background-color: #6eceb2;
}

/* Style for the sections, icons, title */
section {
    cursor:pointer;
}
section:hover {
    opacity:0.6;
}
section:active {
    opacity:1;
}

/* The Style for the Icons - Centered Icons */
section i {
    display:block!important;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding-top:35px;
    color:#fff;
}

/* The Style for the Title Categories */
section h2 {
    text-align: center;
    color:white;
    font-size:16px;
}

/* The Style for the Create Project Page Sections */
section#personal {
    background-color: #091E3D;
}
section#group {
    background-color: #091E3D;
}

section#group h2, 
section#personal h2 {
    text-align: center;
    color:white;
    font-size:16px;
    padding:20px;
}
#create-title{    
    text-align:center;
    padding-top:20px;
    padding-bottom:12px;
    color:#fff;
}
#create-body {
    background-color: #0C2244;
}

/* The Button for personal Project */
#personal {
    padding:25px;
    background-color:#fff;
    font-size:18px;
    color:#091E3D;
}

/* Title & Visibility */
#project-title {
    text-align: center;
    padding:20px;
    background-color:#0C2244;
    color:#fff;  
    font-weight:bold;  
}
#visibility-project {
    text-align:center;
    padding:14px;
    background-color:#0C2244;
    color:#fff;  
    font-weight:bold; 
}
/* Empty Message and add icon */
#empty {
   text-align:center;
   font-size:20px;   
}
#empty i {
    cursor:pointer;
    color:#091E3D;  
 }

/* The Style for the Form, input, button, select, label */
form {
    text-align:center;  
    margin-top: 5%;
}
input {
    width:300px;
    padding:16px;
}
select {
   width:150px;
   padding:8px;
}
label {
    padding-right:18px;
    color:#fff;
}
form button {
    width:300px;
    padding:12px;
    cursor:pointer;
}
form h6 {
    color:#fff;
}

/* Style for Login Page */
#login {
    background-color: #ea5045;
}
#login-logo {
    width:300px;
    height:auto;
}

/* The Style for the Footer */
footer {
    grid-area: footer-area;    
}
footer h6 {
    text-align:center;
}

a {
    text-decoration: none;
}

/* Media Queries for Responsive Web Design */
/* Tablets, Dekstops, all screens from 768px & above */
@media (min-width: 768px) {   

      /* The style for the Logo */
      #logo {
        padding-top:12px;
        padding-left: 90px;
    }
}

/* 
## Media Queries for Responsive Web Design
## Screen = 1400px and Up - Large desktops
*/
@media (min-width: 1400px) { 
    /* The Style for the Title Categories */
    section h2 {        
        font-size:18px;
    }   
}

